<%= render 'layouts/header' %>
<%= render 'layouts/navbar' %>

<div class="jumbotron text-center main_title">
  <h1>Blog on Rails</h1>
  <p>Marco's awesome blog</p>
</div>

<div class="container-fluid bg-grey">
   <hr>
  <div class="row">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-3">
      <img src="/images/careto.jpg" class="image img-responsive center-block img-circle" alt="It's me... Marco!">
    </div>
    <div class="col-sm-3 desc">
    </br>
      <p> Hey! Welcome to my site. </p>
      <p> Yeah... I know, it makes no sense to have Sign up's and stuff on a personal blog.
      <p> But at least I didn't build an <a href="http://gadgets.ndtv.com/others/news
        /samsungs-t9000-smart-refrigerator-runs-on-android-includes-apps-like-evernote-and-
        epicurious-320610"> Android Refrigerator</a>.</p>
    </div>
    <div class="col-sm-3">
    </div>
  </div>
</div>

<style>
.main_title{
  color:#fff;
  background-color:#696969;
  text-shadow:#ccc 0 1px 0, #c9c9c9 0 1px 0, #bbb 0 2px 0,
              #b9b9b9 0 2px 0, #aaa 0 2px 0,rgba(0,0,0,.1) 0 3px 1px,
              rgba(0,0,0,.1) 0 0 4px, rgba(0,0,0,.3) 0 1px 3px,
              rgba(0,0,0,.15) 0 3px 4px, rgba(0,0,0,.2) 0 4px 7px,
              rgba(0,0,0,.2) 0 4px 4px, rgba(0,0,0,.1) 0 7px 7px;
}
.jumbotron {
    background-color: #6495ed;
    color: #ffffff;
    padding-top: 50px;
    padding-bottom: 20px;
    padding-left: 25px;
    padding-right: 25px;
    font-family: Montserrat, sans-serif;
}
.desc{
  font-family: Montserrat;
}
.image {
    width: 70%;
    height: 70%;
}
</style>

<%= render 'layouts/footer' %>
