<p>
  <i><%= comment.body %></i>
</p>

<p>
  <strong> - <%= comment.commenter %> </strong> [

  <%= link_to [comment.article, comment], method: :delete,
      data: {confirm: 'Are you sure?'} do %>
        <span class="glyphicon glyphicon-trash"></span>
  <% end %>
  ]
</p>
