<%= render 'layouts/header' %>
<%= render 'layouts/navbar' %>

<div class="jumbotron text-center ">
  <h2>New article</h2>
</div>

<%= render 'form' %>

<%= render 'layouts/footer' %>

  <style>
  .centered{
      text-align:center;
  }
  .jumbotron{
      background-color: #6495ed;
      color: #ffffff;
      padding-top: 40px;
      padding-bottom: 5px;
      padding-left: 25px;
      padding-right: 25px;
      font-family: Lato, sans-serif;
  }
  </style>
