<!--
<%= react_component 'CommentsBox', {comments: @comments} %>

 TODO: Delete this file (?) -->

<!--
<p>
  <i><%= comment.body %></i>
</p>

<p>
  - <%= comment.commenter %>
  <% if !current_user.nil? %>
    <% if current_user.canEdit?(comment) %>
        [<%= link_to [comment.article, comment], method: :delete,
          data: {confirm: 'Are you sure?'} do %>
            <span class="glyphicon glyphicon-trash"></span>
      <% end %>]
    <% end %>
  <% end %>
</p>
-->
