<div class="jumbotron text-center main_title">
  <h3>Woops! You should not be here.</h3>
</div>


<div class="container-fluid bg-grey">
  <h3 class="text-center">Access denied</h3> <hr>
  <div class="row">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-6">
      <img src="/images/access_denied.png" class="image img-responsive center-block" alt="GTFO">
    </div>
    </div>
    <div class="col-sm-3">
    </div>
  </div>
</div>

<style>
.centered{
    text-align:center;
}
.jumbotron {
    background-color: #6495ed;
    color: #ffffff;
    padding-top: 40px;
    padding-bottom: 5px;
    padding-left: 25px;
    padding-right: 25px;
    font-family: Lato, sans-serif;
}
.image {
    width: 40%;
    height: 40%;
}
</style>
